html,body,#map{ height:100%; margin:0; padding:0; }
#map { position:fixed; inset:0; }
#hud {
  position: absolute; left:10px; top:10px; z-index:400;
  background: rgba(255,255,255,0.9); padding:8px; border-radius:6px;
  font-family: system-ui, Arial; box-shadow:0 2px 6px rgba(0,0,0,0.2);
}
#startBtn{ padding:8px 10px; margin-bottom:6px; }
#status{ font-size:13px; }
#suggestions {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  max-height: 180px;
  overflow-y: auto;
  display: none;
  width: 100%;
}

.suggestion {
  padding: 6px 8px;
  cursor: pointer;
  font-size: 14px;
}

.suggestion:hover {
  background: #f0f0f0;
}

#menu{
  position:fixed;
  inset:0;
  background:white;
  z-index:999;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:20px;
  text-align:center;
  font-family:system-ui;
}

.modeBtn{
  margin:6px;
  padding:10px 16px;
  font-size:16px;
}

/* ===== COMPASS ===== */

#compass {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(0,0,0,0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  pointer-events: none;
}

#compassDial {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.05s linear;
}

#compassDial .dir {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  font-size: 14px;
}

.n { transform: rotate(0deg); }
.e { transform: rotate(90deg); }
.s { transform: rotate(180deg); }
.w { transform: rotate(270deg); }


#compassArrow {
  position: absolute;
  font-size: 22px;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

